<div class="container p-3">
    <div class="row pt-4">
        <div class="col-10">
            <h2 class="text-primary">Zombie</h2>
        </div>
        <div class="col-2 text-right">
            <a asp-action="Create" class="btn btn-success">
                Create New Zombie
            </a>
        </div>
    </div>

    <div class="row">
        @foreach (var item in this.ViewBag.MaListe)
        {
            <div href="#" class="card  border m-3 text-center bg-warning" style="width: 20rem; background-image: url('/images/imagesLayout/Fond.png'); ">
                <div class="card-body  text-warning">
                    <h3 class="card-title"> @item.Name </h3>
                    <h5> @item.Point </h5>
                </div>
            </div>
        }
    </div>
</div>
